<h3>Course Highlights </h3>
<hr>
<!--
	<details>
	<summary>Systems Analysis & Design</summary>
	MMHC - Identifying needs, scope creep, split into 4 groups
	</details>
	
	<details>
	<summary>Web Application Development</summary>
	MMHC - Fixing PHP errors
	</details>
	
	<details>
	<summary>Application Integration</summary>
	Researched Linux distros for MMHC - Fedora, Gentoo
	</details>
	
	<details>
	<summary>IT Infrastructure</summary>
	Networking, final project w/ MMHC
	</details>
	
	<details>
	<summary>Business Intelligence & Big Data</summary>
	Associated w/ Disney!  Used Qlikview on airline/flight data, something else
	</details>
	
	<details>
	<summary>Database Application Development</summary>
	Oracle DB design for Center for International Education
	</details>
	-->
	
<ul>
	<li>Systems Analysis & Design</li>
	<li>Web Application Development</li>
	<li>Application Integration</li>
	<li>IT Infrastructure</li>
	<li>Business Intelligence & Big Data</li>
	<li>Database Application Development</li>
</ul>