html {
  width: 100vw;
}
.text-primary {
  color: #21ac4b !important;
}
body {
  font-family: "Lato", sans-serif;
}
h1,
h2,
h3 {
  font-family: "Alegreya", serif;
}
.zoomlink:hover {
  font-size: 1.1em;
  cursor: pointer;
}
.accordion {
  cursor: pointer;
  transition: 0.5s;
}
.panel {
  max-height: 0;
  transition: 0.3s ease-out;
  #z-index: 0;
}
.bg-black {
  background-color: #252525;
}

/* TODO update for mobile */
/* HELPFUL POPUP */

.popup {
	position: relative;
    display: inline-block;
	cursor: pointer;
}
.popup .secret-msg {
	visibility: hidden;
	background-color: #eee;
	border-radius: 5px;
	position: absolute;
	#z-index: 1;
    left: 100%;
	width: 112%;
}
.popup.fullwidth {
	width: 100%;
}
#selection:hover {
	background-color: #eee;
	cursor: pointer;
}
#selection:hover .spinny {
	-webkit-animation: spin 2.5s linear infinite;
	animation: spin 2.5s linear infinite;
}
#selection:hover .secret-msg {
	visibility: visible;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.popup:hover .secret-msg {
	visibility: visible;
	-webkit-animation: fadein 0.5s;
	animation: fadein 0.5s;
}
.popup:hover .spinny {
	-webkit-animation: spin 2.5s linear infinite;
	animation: spin 2.5s linear infinite;
}

/* Misc */
.center {
  margin: auto;
  align: center;
}

/* Video in modal */
@media screen and (min-width: 430px) {
  .modal-video {
    margin: auto;
    alighn: center;
  }
}

@media screen and (max-width: 429px) {
  .modal-video {
    width: 85vw;
    margin: auto;
    align: center;
  }
}

/* ANIMATION */

@-webkit-keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@keyframes fadein {
  from {opacity: 0;}
  to {opacity: 1;}
}
@-webkit-keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
@keyframes spin {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}
