<div>
  <div class="w3-row-padding w3-margin-top">

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/AZTontoNF.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal01').style.display='block'">
        <div class="w3-container">
          <h5>Tonto National Forest<br>AZ</h5>
        </div>
      </div>
    </div>
    <div id="modal01" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/AZTontoNF.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/thumb_AZKendrickPeak.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal02').style.display='block'">
        <div class="w3-container">
          <h5>Kaibab National Forest<br>AZ</h5>
        </div>
      </div>
    </div>
    <div id="modal02" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/AZKendrickPeak.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/AZSaltRiverKayaking.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal03').style.display='block'">
        <div class="w3-container">
          <h5>Salt River<br>AZ</h5>
        </div>
      </div>
    </div>
    <div id="modal03" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/AZSaltRiverKayaking.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/thumb_NVMtCharleston.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal04').style.display='block'">
        <div class="w3-container">
          <h5>Mt Charleston<br>NV</h5>
        </div>
      </div>
    </div>
    <div id="modal04" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/NVMtCharleston.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/RockyMtnNP.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal05').style.display='block'">
        <div class="w3-container">
          <h5>Rocky Mtn National Park<br>CO</h5>
        </div>
      </div>
    </div>
    <div id="modal05" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/RockyMtnNP.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/RockyMtnNP2.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal06').style.display='block'">
        <div class="w3-container">
          <h5>Rocky Mtn National Park<br>CO</h5>
        </div>
      </div>
    </div>
    <div id="modal06" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/RockyMtnNP2.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/thumb_ZionAngelsLanding.jpg" style="width:100%;cursor:zoom-in;" onclick="document.getElementById('modal07').style.display='block'">
        <div class="w3-container">
          <h5>Zion National Park<br>UT</h5>
        </div>
      </div>
    </div>
    <div id="modal07" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom"  style="background-color:rgba(256,256,256,0.2);">
        <!-- .modal-content-portrait css isn't working here for some reason -->
        <img src="{{ .Site.BaseURL }}/images/ZionAngelsLanding.jpg" style="display:block;max-height:100vh;width:auto;margin-left:auto;margin-right:auto;">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/thumb_ORSilverFallsSP.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal08').style.display='block'">
        <div class="w3-container">
          <h5>Silver Falls State Park<br>OR</h5>
        </div>
      </div>
    </div>
    <div id="modal08" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/ORSilverFallsSP.jpg" style="width:100%">
      </div>
    </div>

    <div class="w3-third">
      <div class="w3-card">
        <img src="{{ .Site.BaseURL }}/images/thumb_WARattlesnakeRidge.jpg" style="width:100%;cursor:zoom-in" onclick="document.getElementById('modal09').style.display='block'">
        <div class="w3-container">
          <h5>Rattlesnake Ridge<br>WA</h5>
        </div>
      </div>
    </div>
    <div id="modal09" class="w3-modal" onclick="this.style.display='none'">
      <span class="w3-button w3-hover-red w3-xlarge w3-display-topright">&times;</span>
      <div class="w3-modal-content w3-animate-zoom">
        <img src="{{ .Site.BaseURL }}/images/WARattlesnakeRidge.jpg" style="width:100%">
      </div>
    </div>

  </div>
</div>
