<h4>Music <i class="fas fa-music"></i></h4>
<hr>
<h5>I play multiple instruments:</h5>
<ul>
	<li>Piano</li>
	<ul>
		<li>Took classical lessons from 2004 - 2013</li>
		<li>My first major at Millikin University was <a href="https://millikin.edu/commercialmusic">Commercial Music</a> with a piano emphasis</li>
		<li>
			I don't perform or record much music, but I have one cover on Youtube: 
			<a href="https://www.youtube.com/watch?v=mFqLsNgMl2c">Concerning Hobbits</a>
		</li>
	</ul>
	<li>Guitar</li>
	<ul>
		<li>Began by taking lessons in 2008 - 2010</li>
		<li>I play both acoustic and electric</li>
	</ul>
	<li>Bass guitar</li>
	<li>Ukulele</li>
</ul>
