<h3>Hobby - Music <i class="fas fa-music"></i></h3>
<h5>I play mutliple instruments:</h5>
<h5>Piano</h5>
	<li>Started taking lessons in 2004</li>
	<li>Was my first major in college - I was a Commercial Music major with a piano emphasis</li>
<h5>Guitar</h5>
	<li>Started taking lessons in 2008 - began teaching myself by 2010</li>
	<li>Play both acoustic and electric - Singalongs on acoustic, lots of metal on electric</li>
<h5>Bass/ukulele</h5>
	<li>Grouped these together because I play them like guitars</li>
