<h5>I've been to more concerts than I can count, and...</h5>
<h5>I play multiple instruments:</h5>
<ul>
	<li>Bass guitar</li>
	<li>Ukulele</li>
	<li>Guitar</li>
	<li>Piano</li>
	<ul>
		<li>Took classical lessons from 2004 - 2013</li>
		<li>My first major at Millikin University was <a href="https://millikin.edu/commercialmusic" target="_blank">Commercial Music</a> with a piano emphasis</li>
		<li>
			I don't perform or record much music, but I have one cover on Youtube:
		</li>
	</ul>
</ul>

<iframe class="modal-video" width="420" height="315" frameborder="0" allowfullscreen
	src="https://www.youtube.com/embed/mFqLsNgMl2c">
</iframe>
