<h4>Running <i class="fas fa-running"></i></h4>
<hr>
<p>I've been an "on-and-off" runner since 2008 when I joined my school's track team.  Some races I've finished include:
<ul>
	<li><a href="https://penguininthepark.com/">Penguin in the Park 5k</a>: 2015, 2017, 2019</li>
	<li><a href="http://flyingpigmarathon.com/">Flying Pig Half Marathon</a>: 2019</li>
	<li><a href="https://insaneinflatable5k.com/">Insane Inflatable</a>: 2018</li>
	<li><a href="https://warriordash.com/">Warrior Dash</a>: 2015, 2018</li>
	<li><a href="https://ruggedmaniac.com/">Rugged Maniac</a>: 2018</li>
</ul>  