<!-- OVERLAY -->
<div id="edu-overlay" class="overlay">
<i class="fas fa-times fa-7x overlay-x" onclick="overlayoff()"></i>
<!-- TODO externalize overlay text into its own file ? -->
	<div class="overlay-text">
	<p class="h-overlay">Course Highlights</p>
	<hr>
		<ul>
		<li>Systems Analysis & Design
		<li>Web Application Development
		<li>Application Integration
		<li>IT Infrastructure
		<li>Business Intelligence & Big Data
		<li>Database Application Development
		</ul>
	</div>
</div>

<!-- MAIN PAGE -->
<h2 class="accordion w-100 text-primary">
  <i class="fas fa-graduation-cap"></i>
  {{ .Site.Params.education.title }}
</h2>

<div class="panel overflow-hidden">
  {{ range.Site.Params.education.list }}
  <dl>
  
	<!-- Degree -->
	<div class="popup" onclick="overlayon()">
	<span class="secret-msg">(Click to view course highlights)</span>
		<dt class="text-dark">
		<i class="fas fa-plus-circle spinny"></i>
			{{ .degree }}
			<!-- Dove news: https://herald-review.com/news/local/decatur-area-homeless-population-down-but-problem-areas-remain/article_73692cf6-580d-5f90-9fc0-f1c6e542a6ad.html -->
		</dt>
	</div>
	
	<!-- School (link) -->
	<dd>{{ if .link }}<a class="text-primary" href="{{ .link }}">{{ .college }}</a
      >{{ else }}</dd> {{ .college }} {{ end }}
	  
	<!-- School Location -->
	<dd  class="text-dark">{{ .location }}</dd>
	  
	<!-- Dates -->
    <dd class="text-dark">{{ .dates }} </dd>
	
	<!-- GPA -->
	<dd class="text-dark">{{ .gpa }} </dd>
    
  </dl>
  {{ end }}
</div>

<!-- TODO Extract into js file -->
<script>
function overlayon() {
  document.getElementById("edu-overlay").style.display = "block";
}

function overlayoff() {
  document.getElementById("edu-overlay").style.display = "none";
}
</script>
