<h2 class="accordion w-100 text-primary active">
  <i class="fas {{ .Site.Params.experiences.icon }}"></i>
  {{ .Site.Params.experiences.title }}
</h2>

<div class="panel overflow-hidden h-100 d-block">
  {{ range.Site.Params.jobs.list }} 
  <dl id="jobexp"> 

  	  <!-- OVERLAY -->
  <div id={{ .id }} class="overlay">
  <i class="fas fa-times fa-7x overlay-x" onclick="overlayoff({{ .id }})"></i>
  <!-- TODO externalize overlay text into its own file -->
	<div class="overlay-text">
	<!-- {{ .details | markdownify }} -->
	{{ partial .details . }}
	</div>
  </div> 
  
  <div class="popup fullwidth" onclick="overlayon({{ .id }})">
  
  <!-- TODO fix position of the below span -->
  <!-- <span class="secret-msg">(Click to view job details)</span> -->
    <dt class="text-dark mb-0">
	<i class="fas fa-plus-circle spinny"></i>
      {{ if .link }}<a class="text-primary" href="{{ .link }}">{{ .company }}</a
      >{{ else }} {{ .company }} {{ end }}
    </dt>
	<dd class="text-dark ml-3">{{ .position }}</dd>
    <dd class="text-dark ml-3">{{ .dates | markdownify }}</dd>	
	</div>
  </dl>
  {{ end }}
</div>

