<h2 class="accordion w-100 text-primary">
  <i class="fas fa-cogs"></i>
  Skills
</h2>
<div class="panel overflow-hidden">
  <h5>Proficient:</h5>
  <ul>
    <li>Java</li>
  	<li>Git</li>
  	<li>Spring Boot</li>
    <li>Spring Cloud Config</li>
  	<li>Pivotal Cloud Foundry</li>
  	<li>Agile/Scrum</li>
  </ul>

  <hr>

  <h5>Familiar:</h5>
  <ul>
    <li>Go</li>
    <li>Docker</li>
    <li>Kubernetes</li>
    <li>Javascript (ReactJS)</li>
    <li>Jenkins</li>
    <li>Linux administration</li>
  	<li>Bash scripting</li>
  	<li>PostGresQL, MySQL</li>
    <li>HTML</li>
  	<li>CSS</li>
  	<li>Bootstrap</li>
  </ul>
  <hr>
</div>
