<h2 class="accordion w-100 text-primary">
  <i class="fas fa-cogs"></i>
  Skills
</h2>
<div class="panel overflow-hidden">
  <h5>Proficient:</h5>
  <ul>
  	<li>Spring</li>
  	<li>Spring Boot</li>
    <li>Spring Cloud</li>
  	<li>Java</li>
  	<li>Git SCM</li>
  	<li>Pivotal Cloud Foundry</li>
  	<li>Agile development practices</li>
  </ul>

  <hr>

  <h5>Familiar:</h5>
  <ul>
    <li>Kubernetes</li>
    <li>Docker</li>
  	<li>Golang</li>
  	<li>Groovy</li>
  	<li>Bash scripting</li>
  	<li>Javascript (React.js)</li>
  	<li>Jenkins pipelines</li>
  	<li>Linux administration</li>
  	<li>Database administration (PostGresQL, MySQL)</li>
    <li>HTML</li>
  	<li>CSS</li>
  	<li>Bootstrap</li>
  </ul>
  <hr>
</div>
