<ul>
	<h5>August 2016 - May 2017</h5>
	<li>Co-founded a student-run IT consulting company serving 8 local businesses in its first year</li>
	<li>Co-managed 9 consultants during project work and client meetings</li>
	<li>Some significant projects I worked on:
		<ul>
			<li>
				Updated the rules and design of a Microsoft Access database based on the requirements of the Department of Housing and Urban Development, reducing the time of Decatur’s Point-in-Time count from 6 days to 6 hours.  The project was completed in collaboration with Millikin students studying Human Services, and we all presented our results to the Dectaur community during a Continuum of Care breakfast.  The local newspaper covered the breakfast and featured us in the story!  
				<a href="https://herald-review.com/news/local/decatur-area-homeless-population-down-but-problem-areas-remain/article_73692cf6-580d-5f90-9fc0-f1c6e542a6ad.html" target="_blank">The link to the article is here.</a>
			</li>
			<li>Researched, configured, and installed a timeclock application, including user documentation, for a family owned and operated farm.  Before this, paper and pen was used as a timeclock.  A fun fact about this business is that between MUPC and projects as a student, I worked on 6 distinct projects for the farm between 2015 and 2017.
			</li>
		</ul>
	</li>
</ul>
