<h3>Primary Responsibilities</h3>
<hr>
<ul>
	<h5>January 2019 - Present</h5>
	<li>Technical coach in the 'Dojo', assisting multiple development teams migrate applications (services & UIs) from State Farm's internal cloud platform to Pivotal Cloud Foundry</li>
	<br>
	<h5>June 2017 - January 2019</h5>
	<li>Back-end developer of web-based applications primarily using Java, Spring, and Git SCM
	<li>Member of an Agile team utilizing Scrum and Continuous Delivery/Continuous Integration practices
	<li>Cross-trained in full-stack development, including familiarity with Javascript, scripting, automated testing, and Linux server administration
</ul>