<ul>
	<h4>July 2020 - February 2021</h4>
	<h6>Team: Enterprise License Management</h6>
	<li>Updated/maintained a proprietary insurance license management system that integrates with the National Insurance Producer Registry and serves ~140,000 users </li>
	<li>Developed across the full stack, including React JS, Java APIs, and Gitlab CI/CD pipelines</li>
	<li>Resolved bugs/tickets from users during assigned sprints</li>
	<br>
	<h4>January 2019 - July 2020</h4>
	<h6>Team: Cloud Native Architecture & Migration</h6>
	<li>As a technical coach in the 'Dojo', instructed 67 State Farm development teams in designing cloud native applications as part of a platform migration to either Pivotal Cloud Foundry or AWS</li>
	<li>Wrote a custom Pivotal Cloud Foundry plugin in Go and released as a State Farm inner source project</li>
	<li>Researched, deployed, and released an open source Q&A tool to Kubernetes to provide a channel for development and platform migration support</li>
		<ul>
			<li>Built on Nginx, PHP, MySQL</li>
			<li>Customized to fit State Farm's specific needs</li>
			<li>Deployed using Docker images to a Containers as a Service platform based on Kubernetes</li>
		</ul>
	<li>Volunteered as a mentor for courses which taught 40 State Farm employees enough HTML, CSS, jQuery, and Bootstrap to prototype their own web applications.  The students used their new skills at a hackathon event, and one team of students were finalists in the event!</li>
	<br>
	<h4>June 2017 - January 2019</h4>
	<h6>Team: Test Environment Provisioning</h6>
	<li>Developed a Java application to automate a test environment provisioning process, shortening it from 8-12 weeks to 48 hours (A 96% increase in efficiency!)</li>
	<li>Agile team utilizing Scrum and CI/CD practices.  Management considered us amongst the most mature Agile teams at State Farm.  <!-- Given our personalities, we thought it was hilarious that they thought us mature.--></li>
	<li>Cross-trained in full-stack development, including familiarity with Javascript, scripting, automated testing, and Linux server administration</li>
</ul>
