<ul>
	<h4>January 2019 - Present</h4>
	<h6>Team: Cloud Native Architecture & Migration</h6>
	<li>Technical coach in the 'Dojo', assisting multiple development teams migrate applications (services & UIs) to Pivotal Cloud Foundry from an internal Tomcat based platform and/or IBM's WebSphere Application Platform</li>
	<li>Wrote a custom Pivotal Cloud Foundry plugin in Golang and released as a State Farm inner source project</li>
	<li>Deployed, modified, and released an Open Source Q&A application (intended as an internal Stack Overflow clone)</li>
		<ul>
			<li>Nginx, PHP, MySQL application</li>
			<li>Deployed using Docker images to a Containers as a Service platform based on Kubernetes</li>
		</ul>
	<br>
	<h4>June 2017 - January 2019</h4>
	<h6>Team: Test Environment Provisioning</h6>
	<li>Back-end developer of web-based applications primarily using Java, and Spring Boot
	<li>Member of an Agile team utilizing Scrum and Continuous Delivery/Continuous Integration practices
	<li>Cross-trained in full-stack development, including familiarity with Javascript, scripting, automated testing, and Linux server administration
</ul>
