<ul>
	<h4>July 2022 - Present</h4>
	<h6>R&D Networking - Product Development Tester (aka Product Assurance Specialist)</h6> <!-- aka Quabity Assuance -->
	<li>Wrote and performed test cases based on product requirements for all ETC Networking products, including software applications and hardware devices.</li>
	<li>Collaborated with multiple product teams to perform integration testing with new ETC products against individual Networking products and full lighting systems.</li>
	<li>Recreated potential defects of ETC Networking products, as reported by end users, to provide engineers and developers with details of reproducible defects.</li>
</ul>
